.learn-view-table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;

  td {
    font-size: 22px;
    padding: 5px 5px 15px;
    border-bottom: 1px solid #d0c9e2;
  }
}

.learn-continue-wrap {
  padding: 15px 0;
}